<h1>Listing ads</h1>
<%= form_tag :method => :get do %>
  <div class="field">
    <%= label_tag :city_id %><br />
    <%=select_tag "city_id", options_from_collection_for_select( @cities, "id", "name", params[:city_id]  )%>
  </div>
  <div class="field">
    <%= label_tag :ad_activities %><br />
    <%=select_tag "activity_id", options_from_collection_for_select( @activities, "id", "name", params[:activity_id]),  {:multiple => true} %>
  </div>
  <div>
    <%= label_tag :max_price %><br />
    <%= text_field_tag(:max_price) %>
  </div>

  <div class="actions">
    <%= submit_tag("Search") %>
  </div>
<% end %>
 

<table>
  <tr>
    <th>User</th>
    <th>Max price</th>
    <th>City</th>
    <th>Deadline</th>
    <th>Period v dni</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.user.try(:name) %></td>
    <td><%= ad.max_price %></td>
    <td><%= ad.city.try(:name) %></td>
    <td><%= ad.deadline %></td>
    <td><%= ad.period %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
