<h1>Listing ads</h1>
<form>
<select  id='select-city', name="city_id">
      <option value= "" > </option>
      <% @cities.each do |city| %>
            <option value= "<%=city.id%>" > <%= city.name %> </option>
      <% end %>
   </select>
   <select  id='select-activity', name="activity_id">
       <option value= "" > </option>
      <% @activities.each do |activity| %>
          <option value= "<%=activity.id%>" > <%= activity.name %> </option>
    <% end %>
</select>
    <input type="submit" value="Find", class="button">
</form>
 

<table>
  <tr>
    <th>User</th>
    <th>Max price</th>
    <th>City</th>
    <th>Deadline</th>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.user.try(:name) %></td>
    <td><%= ad.max_price %></td>
    <td><%= ad.city.try(:name) %></td>
    <td><%= ad.deadline %></td>
    <td><%= ad.period %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
