<div class="section group">
      <div class="col span_1_of_4"> </div>
      <div class="col span_2_of_4"> 
         <section class="contenta">

<h2>Обяви</h2>
<%= form_tag('/ads', :method => :get) do %>
  <div class="field">
    Град:<br />
    <%=select_tag "city_id", options_from_collection_for_select( @cities, "id", "name", params[:city_id]  )%>
  </div>
  <div class="field">
    Дейности:<br />
    <%=select_tag "activity_id", options_from_collection_for_select( @activities, "id", "name", params[:activity_id]),  {:multiple => true} %>
  </div>
  <div>
    Минимална цена:<br />
    <%= text_field_tag(:min_price) %>
  </div>
  <div>
    Максимална цена:<br />
    <%= text_field_tag(:max_price) %>
  </div>

  <div class="actions">
    <input type="submit" value="Търси", class="exit">
  </div>
<% end %>
 

<table>
  <tr>
    <th>Описание</th>
    <th>Потребител</th>
    <th>Град</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.description %></td>
    <td><%= ad.user.try(:name) %></td>
    <td><%= ad.city.try(:name) %></td>
    <td><%= link_to 'Покажи', ad %></td>
<!--     <td><%= link_to 'Редактирай', edit_ad_path(ad) %></td>
    <td><%= link_to 'Изтрий', ad, method: :delete, data: { confirm: 'Потвърдете' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Нова обява', new_ad_path %>

</section>
</div>
<div class="col span_1_of_4"> </div>
</div>