<div class="section group">
      <div class="col span_1_of_4"> </div>
      <div class="col span_2_of_4"> 
         <section class="contenta">


<p id="notice"><%= notice %></p>
<center>
<p>
  <b>Описание:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Потребител:</b>
  <%= @ad.user.name %>
</p>

<p>
  <b>Цена за час:</b>
  <%= @ad.max_price %>
</p>

<p>
  <b>Град:</b>
  <%= @ad.city.name %>
</p>

<p>
  <b>Крайна дата:</b>
  <%= @ad.deadline %>
</p>

<p>
  <b>Период:</b>
  <%= @ad.period %>
</p>
<% if current_user.role.present? && current_user.role.name != "Клиент" %>
  <% if current_user.id != @ad.user_id %>
    <%= form_tag '/ads/apply', :method => :post do %>
    <%= hidden_field_tag "ad_id", "#{@ad.id}" %>
    <input id="button_apply" name="commit" type="submit" class="exit" value="Кандидатствай">
    <% end %>
  <% end %> 
<% end %>
<div id="apply_message" style="display: none;">
  Кандидатурата Ви е изпратена успешно.
</div>
<% if current_user.id == @ad.user_id %>
  <%= link_to 'Редактирай', edit_ad_path(@ad) %> |
<% end %>
<%= link_to 'Назад', ads_path %>
</center>
</section>
</div>
<div class="col span_1_of_4"> </div>
</div>
