<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <h2> Sign up </h2>

  <div><input type="text" class="text-field" placeholder="Name" /><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><input type="email" class="text-field" placeholder="E-mail" /><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><input type="password" class="text-field" placeholder="Password" /><br />
  <%= f.password_field :password %></div>

  <div><input type="password" class="text-field" placeholder="Repeat Password" /><br />
  <%= f.password_field :password_confirmation %></div>

  <div> <input type="submit" value="Sign up", class="button"></div>
  <br />
  <br />

  <%= render "devise/shared/links" %>
<% end %>


