<div class="section group">
      <div class="col span_1_of_4"> </div>
      <div class="col span_2_of_4"> 
         <section class="contenta">

<a href = "/ads/new">  Направи обява </a>

<%= form_tag :method => :get do %>
  <div class="field">
    <%= label_tag :city_id %><br />
    <%=select_tag "city_id", options_from_collection_for_select( @cities, "id", "name", params[:city_id]  )%>
  </div>
  <div class="field">
    <%= label_tag :ad_activities %><br />
    <%=select_tag "activity_id", options_from_collection_for_select( @activities, "id", "name", params[:activity_id]),  {:multiple => true} %>
  </div>
  <div>
    <%= label_tag :price %><br />
    <%= text_field_tag(:price) %>
  </div>
  <div class="actions">
    <input type="submit" value="Търси", class="exit">
   
  </div>
<% end %>
  <br />
  <h3>Име</h3>

  <ul class="bullet1">

  <% @its.each do |it| %>
    <li>
      <div class="novina">
        <img src="images/pic.jpg" class="round2">
        <a href = "/users/<%= it.id %>", class="viewprofile" > 
          <span>
            <p>Цена за час: <%= it.price %> лв. </p>
            <p>Качества: <%= it.activities.map{|activity| activity.name}.join(', ') %> </p>
          </span>
          <%= it.name %>
        </a>
      </div>
    </li>
  <% end %>

  </ul>
  
  
</section>
</div>
<div class="col span_1_of_4"> </div>
</div>