<div class="section group">
      <div class="col span_1_of_4"> </div>
      <div class="col span_2_of_4"> 
         <section class="contenta">


<%= form_tag :method => :get do %>
  <a href = "/ads/new">  Направи обява </a>
  <p>ТЪРСИ СПЕЦИАЛИСТ:</p>
  <div class="field">
    Град:<br />
    <%=select_tag "city_id", options_from_collection_for_select( @cities, "id", "name", params[:city_id]  )%>
  </div>
  <div class="field">
    Дейности:<br />
    <%=select_tag "activity_id", options_from_collection_for_select( @activities, "id", "name", params[:activity_id]),  {:multiple => true} %>
  </div>
  <div>
    Минимална цена:<br />
    <%= text_field_tag(:min_price) %>
  </div>
  <div>
    Максимална цена:<br />
    <%= text_field_tag(:max_price) %>
  </div>

  <div class="actions" >
    <input type="submit" value="Търси", class="exit">
  </div>

<% end %>
  <br />

  <ul class="bullet1">

  <% @its.each do |it| %>
    <li>
      <div class="novina">
        <img src="images/pic.jpg" class="round2">
        <a href = "/users/<%= it.id %>", class="viewprofile" > 
          <span>
            <p>Цена за час: <%= it.price %> лв. </p>
            <p>Дейности: <%= it.activities.map{|activity| activity.name}.join(', ') %> </p>
          </span>
          <%= it.name %>
        </a>
      </div>
    </li>
  <% end %>

  </ul>
  
  </section>
</div>
<div class="col span_1_of_4"> </div>
</div>