
<%= form_tag action="/users/save_properties" do %>
    <select  id='select-city', name="city_id">
      <option value= "" > </option>
      <% @cities.each do |city| %>
           <option value= "<%=city.id%>" > <%= city.name %> </option>
      <% end %>
  </select>
  <select  id='select-role', name="role_id">
      <option value= "" > </option>
      <% @roles.each do |role| %>
           <option value= "<%=role.id%>" > <%= role.name %> </option>
      <% end %>
  </select>

    <!-- <input id="select-activity" type="checkbox" name="activity_id" value="mlb", >  -->
  <div id='select-activity'>  
  </div>
  <input type="submit" value="Submit", class="button">
<% end %>

