<div id="profile">
  <dl>
    <dt>name:</dt>
    <dd><%= @user.name %></dd>
    <dt>user.portfolio file:</dt>
    <dd><%= @user.portfolio_file%></dd>
    <dt>portfolio description:</dt>
    <dd><%= @user.portfolio_description%></dd>
    <dt>portfolio link:</dt>
    <dd><%= @user.portfolio_link%></dd>
    <dt>phone:</dt>
    <dd><%= @user.phone%></dd>
    <dt>price:</dt>
    <dd><%= @user.price%></dd>
  </dl>
</div>
<% if current_user.id == @user.id %>
  <%=link_to 'Edit', '/users/properties' %>
  <ul>
  <% @user.received_messages.each do |received_message| %>
    <li>
      <%= received_message.sent_messageable.name %> 
      <%= received_message.topic %>
      <%= received_message.body %>
    </li>
<% end %>
</ul>
<% else %>
  <form action = '/send_message'> 
    <input type="hidden" name="user_id" value="<%= @user.id %>">

    <div>
       <textarea rows="3" cols="30" name ="body"></textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Message">
    </div>
  </form>
<% end %> 