    <div class="wrapb">
    <div class="section group">
    <div class="col span_1_of_4">
      <!-- <section class="contenta" id="a">
      <div>
      <p>Your AD here !</p>
      </div>
    
    </section> -->
    </div>
<div align = "center" class="col span_2_of_4">
      <section class="contenta">
    <img src="http://store.picbg.net/pubpic/85/66/ea15226e827f8566.png" class="round">  
    <p class="pro">
    <ul class="lili">
    <li><b>Име:</b> <%= @user.name %> </li>  
    <% if current_user.role.present? && current_user.role.name != "Клиент" %>
    <li><b>Дейности:</b> <%= @user.activities.map{|activity| activity.name}.join(', ') %> </li>
    <% end %>
    <li><b>Сфера:</b>  <%= @user.role.name %></li>
    <li><b>Град:</b> <%= @user.city.name %></li>
<!--     <li>Телефон: <%= @user.phone %></li>
    <li>Портфолио:<img src="<%= @user.portfolio_file %>" ></li>

 -->
    <% if current_user.role.present? && current_user.role.name != "Клиент" %>
    <li><b>Уеб сайт:</b> <%= @user.portfolio_link %> </li>
    <li><b>Описание:</b> <%= @user.portfolio_description %> </li>
    <li><b>Цена за час:</b> <%= @user.price %></li>
    </ul>
    </p>
    <% end %>
  </br>
    <div align = "right">
    <% if current_user.id == @user.id %>
  <%=link_to 'Редактирай', '/users/properties' %>
  <!-- <ul>
    <% @user.received_messages.each do |received_message| %>
      <li>
        <%= received_message.sent_messageable.name %> 
        <%= received_message.topic %>
        <%= received_message.body %>
        <a class="reply_link" href="javascript:void(0)" data-message="<%= received_message.id %>">Reply</a>
      </li>

    <% end %>
    
    <%= form_tag '/reply_message', :method => :post, remote: true, :class => "message_form", style:"display: none", id:"reply_form" do %>
    <input id="reply_message_id" type="hidden" name="message_id" value="">

    <div>
       <textarea rows="3" cols="30" name ="body"></textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Изпрати" class="exit">
    </div>
  <% end %>
<% else %>
  <%= form_tag '/send_message', :method => :post, remote: true, :class => "message_form", id:"send_message_form" do %>
    <input type="hidden" name="user_id" value="<%= @user.id %>">

    <div>
       <textarea rows="3" cols="30" name ="body"></textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Изпрати" class="exit">
    </div>
  <% end %>
<% end %> 

  </ul> -->
</div>
  </section><!-- content -->
    </div>
    <div class="col span_1_of_4">
  <!--     <section class="contenta" id="c">
      <div>
    <p>Your AD here !</p>
      </div>
    
    </section>
    </div> -->

</div>
</div>
</div>




  <!-- <form action = '/reply_message' style="display: none" id="reply_form">  -->
  
  
