<div id="profile">
  <dl>
    <dt>name:</dt>
    <dd><%= @user.name %></dd>
    <dt>user.portfolio file:</dt>
    <dd><%= @user.portfolio_file%></dd>
    <dt>portfolio description:</dt>
    <dd><%= @user.portfolio_description%></dd>
    <dt>portfolio link:</dt>
    <dd><%= @user.portfolio_link%></dd>
     <dt>phone:</dt>
    <dd><%= @user.phone%></dd>
    <dt>price:</dt>
    <dd><%= @user.price%></dd>
  </dl>
</div>
<% if current_user.id == @user.id %>
  <%=link_to 'Edit', '/users/properties' %>
<% else %>
 <form action = '/send message'> 
  <input type="hidden" name="currnet_user" value="marin">
  <input type="hidden" name="currnet_user" value="choveka s koito govorq">

  
  <div>
     <textarea rows="3" cols="30" name ="body"></textarea>
  </div>
<div class="actions">
    <input type="button" value="Message">
  </div>
</form>
<% end %> 