<div id="profile">
  <dl>
    <dt>name:</dt>
    <dd><%= @user.name %></dd>
    <dt>user.portfolio file:</dt>
    <dd><%= @user.portfolio_file%></dd>
    <dt>portfolio description:</dt>
    <dd><%= @user.portfolio_description%></dd>
    <dt>portfolio link:</dt>
    <dd><%= @user.portfolio_link%></dd>
     <dt>phone:</dt>
    <dd><%= @user.phone%></dd>
  </dl>
</div>