<!DOCTYPE html>
<html>
<head>
	<style>
		.menu { text-align:center; }
		.menu ul li {display:inline;}
	</style> 

	<title> Busy net </title>

	 
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
 	<meta charset="utf-8">
    <%= stylesheet_link_tag    "demo" %>
    <%= stylesheet_link_tag    "style" %>
    <!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->
</head>
<body>
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->
<div class="big">
	<div class="wrapmax">
		<div class="section group">
			<div class="col span_1_of_5"> </div>
			<div class="col span_1_of_5"> </div>
			<div class="col span_1_of_5">
				<div class="logo">
					<a href="<%= root_path %>" id="range-logo"> Вход </a> 
				</div>
			</div>

			<div class="col span_1_of_5"> </div>

			<div class="col span_1_of_5"> </div>
			<br />
			<br />
			<br />
			<div style= "float:right;">
				<%  if current_user.present? %>
					<%= link_to current_user.name, user_profile_path(user_id: current_user.id) %>
					<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
				<% else %> 
			  		<%= link_to "Sign In", '/users/sign_in' %>
				<% end %>
			</div>
		</div>

	</div>
</div>


<div class="wrap">
		<nav class="nav right">
			<ul>
	 	 		<li class="current"><a href="<%= root_path %>">Начало</a></li>
				<li id="menu"><%=link_to "Направи обява", new_ad_path %></li>
			</ul>
		</nav>
</div>

<div class="section group">
	<div class="col span_1_of_3">
			<ul class="tt-wrapper2">
				<li>
					<a class="tt-twitter"  href="/its"><span>Към ИТ специалисти.</span></a>
				</li>
			</ul>
	</div>
	<div class="col span_1_of_3">
		<ul class="tt-wrapper2">
			<li>
				<a class="tt-gplus"  href="/teachers"><span>Към учители.</span></a>
			</li>
		</ul>
	</div>
	<div class="col span_1_of_3">
		<ul class="tt-wrapper2">
			<li>
				<a class="tt-dribbble"  href="/accountants"><span>Към счетоводители.</span></a>
			</li>
		</ul>
	</div>
</div>

	

<div id="notifications", style = "float:right;">
		sdfsdf
</div>	



	<%= yield %>



<div id="footer">
	<div class="umri">
		<ul class="umretegoveda">
	 		<li><a href="index.html">Начало</a></li>
			<li><a href="signin.html">Профил</a></li>
			<li><a href="register.html">Съобщения</a></li>
			<li><a href="register.html">Направи обява</a></li>
		</ul>	
	</div>
	<p> Последвайте ни в социалните мрежи: <br/>	
		<%= link_to image_tag("facebook.png"), "http://www.facebook.com" %>
		<%= link_to image_tag("google.png"), "http://www.plus.google.com" %>
		<%= link_to image_tag("twitter.png"), "http://www.twitter.com" %>
	</p>
	<p> All copyrights reserved. <a href="developers.html"> Busy </a> 2013 </p>
</div>

</body>
</html>
