<!DOCTYPE html>
<html>
<head>
  <title> Busy net </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<meta charset="utf-8">
<%= stylesheet_link_tag    "demo" %>
<%= stylesheet_link_tag    "style" %>
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
</head>
<body>
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->
<div id="wrap">
	<div class="wrapmax">
		<a href="#" id="range-logo"></a>
			<div class="wrapc">
			</div>
	</div>
	<div>
		<%  if current_user.present? %>
			<%= current_user.email %>
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		<% else %> 
		  <%= link_to "Sign In", '/users/sign_in' %>
		<% end %>

	</div>
</div>



<%= yield %>


</body>
</html>
